/bin/*
/obs-plugins/*
*.exe
/config/obs-studio/crashes/*
/config/obs-studio/logs/*
/config/obs-studio/plugin_config/*
/config/obs-studio/profiler_data/*
/config/obs-studio/updates/*
/config/obs-studio/basic/profiles/Mason
/config/obs-studio/basic/scenes/*.bak
/data/*
/obs-plugins/*
/config/obs-studio/basic/scenes/*.bak
/aufnahmen/*
/PortableGit/